@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica'), url('/assets/fonts/HelveticaNeueMedium.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica';
  font-style: italic;
  font-weight: 500;
  src: local('Helvetica'), url('/assets/fonts/HelveticaNeueMediumItalic.woff') format('woff');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none;
}
